.contenedor {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 40px auto;
}

.formulario-contenedor, .resultados-contenedor {
  width: 48%;
}

form {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="number"], input[type="text"] {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  height: 40px;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

.resultados-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultados-contenedor img {
  width: 150px;
  height: auto;
  margin-top: 20px;
}
